NodeRED_Flow.json
[
    {
        "id": "49b0264b880b8608",
        "type": "tab",
        "label": "MQTT_GPS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "69cf2403189cbf49",
        "type": "mqtt-broker",
        "name": "RPi_Local_MQTT",
        "broker": "192.168.1.136",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b8a3f9259b82dd9f",
        "type": "mqtt in",
        "z": "49b0264b880b8608",
        "name": "Longitude",
        "topic": "GPS/Longitude",
        "qos": "2",
        "datatype": "utf8",
        "broker": "69cf2403189cbf49",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "da462ce616a0cc20",
                "2f5a1137f54e861c",
                "f5643e8ad52c67d8"
            ]
        ]
    },
    {
        "id": "2cd389473187576a",
        "type": "mqtt in",
        "z": "49b0264b880b8608",
        "name": "Latitude",
        "topic": "GPS/Latitude",
        "qos": "2",
        "datatype": "utf8",
        "broker": "69cf2403189cbf49",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 250,
        "y": 160,
        "wires": [
            [
                "da462ce616a0cc20",
                "2f5a1137f54e861c",
                "f5643e8ad52c67d8"
            ]
        ]
    },
    {
        "id": "e6c56dacf032f8db",
        "type": "worldmap",
        "z": "49b0264b880b8608",
        "name": "MQTT_Location",
        "lat": "",
        "lon": "",
        "zoom": "15",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "true",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "x": 880,
        "y": 200,
        "wires": []
    },
    {
        "id": "da462ce616a0cc20",
        "type": "json",
        "z": "49b0264b880b8608",
        "name": "MQTT2JSON",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "59280760319b959f"
            ]
        ],
        "inputLabels": [
            "GPS Data"
        ],
        "outputLabels": [
            "JSON GPS_Data"
        ]
    },
    {
        "id": "2f5a1137f54e861c",
        "type": "debug",
        "z": "49b0264b880b8608",
        "name": "MQTT_Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "f5643e8ad52c67d8",
        "type": "function",
        "z": "49b0264b880b8608",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "59280760319b959f",
        "type": "worldmap-tracks",
        "z": "49b0264b880b8608",
        "name": "",
        "depth": 20,
        "layer": "combined",
        "smooth": false,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "e6c56dacf032f8db"
            ]
        ]
    }
]
